.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  width: 1100px;
  margin: 0 auto;
}

.header__menu {
  justify-self: start;
}

.header__menu-list {
  display: flex;
  align-items: center;
}

.header__menu-item {
  display: flex;
  align-items: center;
}

.header__menu-item:not(:first-child)::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 0.5px solid #000000;
  border-radius: 50%;
  margin: 0 12px;
}

.header__menu-link {
  font-size: 18px;
  line-height: 21px;
}

.header__menu-link_underlined {
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
}


.header__logo {
  justify-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}


.header__contacts {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-self: end;
}

.header__contacts-link {
  font-size: 18px;
  line-height: 24px;
}

.header__contacts-link_underlined {
  border-bottom: 1px solid #000000;
  width: fit-content;
}

.header__contacts-address {
  font-size: 18px;
  line-height: 24px;
  max-width: 236px;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  background: url("../images/cover.jpg") center/cover no-repeat;
}

/* .cover__overlay {
  position: absolute;
  inset: 0;
  background: #000000;
  opacity: 0.6;
} */


.cover__title {
  position: relative;
  inset: 165px 50px 135px;
}

.cover__title-text {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.cover__description {
  position: absolute;
  top: 656px;
  left: 50px;
  right: 50px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__subline {
  width: 637px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: justify;
  text-align-last: justify;
  word-spacing: 18px;
}

.cover__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 51px;
  border: 1px solid #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
}

.cover__button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.lots {
  width: 1052px;
  margin: 180px auto 0;
  padding: 0 24px;
}

.lots__title {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__list {
  list-style: none;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
}

.lots__more {
  display: inline-block;
  margin: 32px 0 0 40px;
  font-size: 20px;
  line-height: 23px;
  border-bottom: 1px solid #000000;
}

.about {
  position: relative;
  width: 1052px;
  height: 595px;
  margin: 120px auto 0;
  padding: 0 24px;
}

.about__logo-column {
  position: absolute;
  top: 35px;
  left: 47px;
  width: 240px;
  height: 240px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  position: absolute;
  top: 133px;
  left: 359px;
  width: 693px;
  height: 449px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__description {
  margin-top: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text:first-child {
  margin-bottom: 24px;
}

.footer {
  position: relative;
  width: 1100px;
  height: 180px;
  margin: 80px auto 0;
}

.footer__contacts {
  position: absolute;
  top: 0;
  left: 50px;
  width: 264px;
  display: flex;
  flex-direction: column;
}

.footer__contacts-link {
  font-size: 18px;
  line-height: 24px;
}

.footer__contacts-link_underlined {
  border-bottom: 1px solid #000000;
  width: fit-content;
}

.footer__contacts-address {
  font-size: 18px;
  line-height: 24px;
  max-width: 260px;
}

.footer__menu {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-link_underlined {
  border-bottom: 1px solid #000000;
}

.footer__socials {
  position: absolute;
  top: 1px;
  right: 50px;
  display: flex;
  gap: 48px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
