/* ===== RESET & BASE ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

/* ===== HEADER ===== */
.header {
  position: relative;
  width: 1100px;
  height: 293px;
  margin: 0 auto;
}

/* ----- MENU ----- */
.header__menu {
  position: absolute;
  left: 50px;
  top: 133px;
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 0;
}

.header__menu-item {
  display: flex;
  align-items: center;
}

/* Разделитель-кружочек между пунктами */
.header__menu-item:not(:first-child)::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 0.5px solid #000000;
  border-radius: 50%;
  margin: 0 12px;
}

.header__menu-link {
  font-size: 18px;
  line-height: 21px;
}

.header__menu-link_underlined {
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
}

/* ----- LOGO ----- */
.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 92px;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

/* ----- CONTACTS ----- */
.header__contacts {
  position: absolute;
  right: 50px;
  top: 95px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.header__contacts-link {
  font-size: 18px;
  line-height: 24px;
}

.header__contacts-link_underlined {
  border-bottom: 1px solid #000000;
  width: fit-content;
}

.header__contacts-address {
  font-size: 18px;
  line-height: 24px;
  max-width: 236px;
}

/* ===== COVER ===== */
.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  background: url(../images/lotus-flower.png) center/cover no-repeat;
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
}

/* ----- TITLE ----- */
.cover__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover__title-line {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

/* ОНО: left: 50px, top: 165px, width: 286px */
.cover__title-line_place_top {
  top: 165px;
  left: 50px;
  width: 286px;
  text-align: left;
}

/* ТЕБЕ: centered, top: 300px, width: 339px */
.cover__title-line_place_middle {
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  width: 339px;
  text-align: center;
}

/* НАДО: right side, top: 435px, width: 387px */
.cover__title-line_place_bottom {
  top: 435px;
  right: 50px;
  width: 387px;
  text-align: right;
}

/* ----- DESCRIPTION ----- */
.cover__description {
  position: absolute;
  top: 656px;
  left: 50px;
  right: 50px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__subline {
  width: 637px;
  height: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: justify;
  text-align-last: justify;
}

.cover__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 51px;
  border: 1px solid #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
}

.cover__button:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* ===== LOTS ===== */
.lots {
  position: relative;
  width: 1052px;
  height: 723px;
  margin: 180px auto 0;
  padding: 0 24px;
}

.lots__title {
  position: absolute;
  top: 0;
  left: 40px;
  width: 121px;
  height: 47px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.lots__list {
  position: absolute;
  top: 74px;
  left: 0;
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lots__item {
  width: 334px;
  height: 596px;
}

/* ----- LOT CARD ----- */
.lot {
  position: relative;
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Background images for each lot */
.lots__item:nth-child(1) .lot {
  background-image: url(../images/lot-1.png);
}

.lots__item:nth-child(2) .lot {
  background-image: url(../images/lot-2.png);
}

.lots__item:nth-child(3) .lot {
  background-image: url(../images/lot-3.png);
}

.lot__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.lot__title {
  position: absolute;
  top: 48px;
  left: 40px;
  right: 40px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.lot__description {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 48px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: normal;
  color: #FFFFFF;
  margin: 0;
}

/* ----- MORE LINK ----- */
.lots__more {
  position: absolute;
  left: 40px;
  bottom: -2px;
  width: 192px;
  height: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

/* ===== ABOUT ===== */
.about {
  position: relative;
  width: 1052px;
  height: 595px;
  margin: 120px auto 0;
  padding: 0 24px;
}

/* ----- LOGO COLUMN ----- */
.about__logo-column {
  position: absolute;
  top: 35px;
  left: 47px;
  width: 240px;
  height: 240px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

/* ----- ABOUT COLUMN ----- */
.about__column {
  position: absolute;
  top: 133px;
  left: 359px;
  width: 693px;
  height: 449px;
}

.about__title {
  position: absolute;
  top: 3px;
  left: 0;
  width: 291px;
  height: 47px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  white-space: nowrap;
}

.about__description {
  position: absolute;
  top: 150px;
  left: 0;
  width: 693px;
}

.about__text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.about__text:first-child {
  width: 688px;
  margin-bottom: 24px;
}

.about__text:last-child {
  width: 693px;
}

/* ===== FOOTER ===== */
.footer {
  position: relative;
  width: 1100px;
  height: 180px;
  margin: 80px auto 0;
}

/* ----- CONTACTS ----- */
.footer__contacts {
  position: absolute;
  top: 0;
  left: 50px;
  width: 264px;
  display: flex;
  flex-direction: column;
}

.footer__contacts-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.footer__contacts-link_underlined {
  border-bottom: 1px solid #000000;
  width: fit-content;
}

.footer__contacts-address {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  max-width: 260px;
}

/* ----- MENU ----- */
.footer__menu {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-item {
  text-align: center;
}

.footer__menu-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer__menu-link_underlined {
  border-bottom: 1px solid #000000;
}

/* ----- SOCIALS ----- */
.footer__socials {
  position: absolute;
  top: 1px;
  right: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.footer__social-icon {
  width: auto;
  height: auto;
}

