.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  width: 1100px;
  margin: 0 auto;
}

.address {
  font-style: normal;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}


.header__logo {
  justify-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}


.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  line-height: 24px;
}

.cover {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 757px;
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../images/cover.jpg") center/cover no-repeat;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.cover__description-text {
  max-width: 637px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 18px;
}

.bet-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 256px;
  padding: 12px 32px;
  border: 1px solid #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
}

.bet-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.lots {
  width: 1100px;
  margin: 180px auto 0;
  padding: 0 24px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  width: 1100px;
  margin: 120px auto 0;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 334px minmax(0, 1fr);
  column-gap: 25px;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column:last-child {
  display: flex;
  flex-direction: column;
  padding-top: 133px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  width: 1100px;
  margin: 180px auto 0;
  padding: 0 50px 88px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.footer .address {
  max-width: 264px;
  font-size: 18px;
  line-height: 24px;
}

.footer__contacts-link {
  font-size: 18px;
  line-height: 24px;
}

.footer__contacts-link_underlined {
  border-bottom: 1px solid #000000;
  width: fit-content;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}